@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.spell-block {
    transition: all 0.2s ease;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;

    @media screen and (min-width: 1280px) {
        &:hover {
            box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
            transform: scale(1.03);
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        @media only screen and (min-width: 800px) {
            flex-direction: row;
        }
    }

    &__body {
        background-color: #fff;
        border-radius: 10px;
        margin-top: 15px;
        overflow: hidden;
    }

    &__icon {
        width: 40px;
        height: 40px;
        border-radius: 50% 50%;
        font-size: 28px;
        @media only screen and (min-width: 800px) {
            margin-right: 10px;
        }

        &--light {
            background-color: #fff;
        }

        &--dark {
            background-color: #000;
        }

        &-wrapper {
            // top: -18px;
            // left: -3px;
            // position: relative;

            svg {
                clip-path: circle(30px at center);
            }
        }
    }

    &__col1 {
        display: flex;
        margin-bottom: 15px;

        @media only screen and (min-width: 800px) {
           order: 3;
        }
        @media only screen and (min-width: 800px) {
            flex-grow: 2;
            justify-content: flex-end;
            div:last-child {
                margin-right: 0;
            }
            div {
                margin: 0px 5px;
            }
        }
    }

    &__special {
        background-color: #018f94;
    }

    &__iconright {
        margin-left: auto;
        @media only screen and (min-width: 800px) {
            margin-left: initial;
        }
    }

    &__col2 {
        text-align: center;
        margin: 0 auto;
        @media only screen and (min-width: 800px) {
            margin: 0;
        }
        @media only screen and (min-width: 800px) {
            order: 1;
        }
    }

    &__col3 {
        @media only screen and (min-width: 800px) {
            order: 2;
        }
    }

    &__title {
        font-size: 23px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        @media only screen and (min-width: 800px) {
            text-align: left;
        }

        &--light {
            color: #fff;
        }

        &--dark {
            color: #000;
        }
    }

    &__properties {
        padding-top: 4px;
        text-align: center;
        @media only screen and (min-width: 800px) {
            text-align: left;
        }

        div:first-child {
            margin-left: 0;
        }
        div {
            margin: 2px 5px;
        }
    }

    &__properties {
        margin-left: 0px;
    }

    &__property {
    }

    &__property-icon {

    }

    &__property-label {

    }

    &__epic_description {
        background-color: #dfdfdf;
        padding: 15px;
        border-radius: 10px 10px 0px 0px;
        font-style: italic;
    }

    &__mechanic_description {
        padding: 15px;
    }
}

.spell-block--default {
    background-color:#4d4d4d;
}

.spell-block--fire {
    // background-color:#c7220c;
    background-color:#ba6d62;
}

.spell-block--ice {
    // background-color:#018f94;
    background-color:#40898c;
}

.spell-block--wind {
    // background-color:#0093b8;
    background-color:#559daf;
}

.spell-block--water {
    // background-color:#1347d8;
    background-color:#6c86cc;
}

.spell-block--eletric {
    // background-color:#f2f542;
    background-color:#f0f1ab;
}

.spell-block--holy {
    background-color:#a09980;
}

.spell-block--darkness {
    // background-color:#3d1275;
    background-color:#52406a;
}

.spell-block--arcane {
    // background-color:#c73aa2;
    background-color: #b775a5
}

.spell-block--acid {
    // background-color:#a9e613;
    background-color:#b5cf72;
}

.spell-block--nature {
    // background-color: #299a15;
    background-color: #58974d;
}

.spell-block--materia {
    // background-color:#65482a;
    background-color:#63584d;
}

.spell-block--chaos {
    // background-color:#c73a3a;
    background-color:#b46969;
}

.spell-block--selected {
    background-color: green;
}

.taglabel {
    font-size: 14px;
    padding: 2px 5px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 700;

    &__icon {

    }

    &__label {

    }
}

.taglabel--light {
    background-color: #fff;
    color: #000;
}

.taglabel--dark {
    background-color: #000;
    color: #fff;
}
